html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Times, serif;
}

main{
    width: 100%;
    height:100%; 
    background-repeat: round;
}

#index-main {
    background-image: url(../Assets/bg-main.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-main a{
    position: absolute;
    scale: 0.75;
}

#index-main a#function-dreams {
    top: 28%;
    left: 6%;
}

#index-main a#daniel-wu {
    top: 18%;
    left: 50%;
}

#index-main a#ultraviolence {
    top: 50%;
    right: 8%;
}

#index-main a#morii {
    bottom: 20%;
    right: 10%;
}

#index-main a#nefelibata {
    top: 38%;
    right: 4%;
}

#index-main a#collapsar {
    bottom: 26%;
    left: 8%;
}

#index-main p {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.3,1);
    -ms-transform: scale(1.3,1);
    -webkit-transform: scale(1.3,1);
}

#generate-main {
    background-image: url(../Assets/bg.jpg);
    display: flex;
    padding: 0 40px;
    box-sizing: border-box;
}

.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.btn.btn-white {
    background-color: rgba(255, 255, 255, 0.9);
}

.btn.btn-black {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

#logo {
    max-width: 100%;
    max-height: 70%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
  
#sketch-container{
    width: 100%;
    height: 100%;
}

#home {
    scale: 0.75;
}

canvas {
    display: block;
}

#generate-main section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 570px;
    height: 570px;
    border-radius: 20px;
    background-color: rgba(212, 212, 237, 0.9);
    box-shadow: 0px 12px 14px 2px rgb(0 0 0 / 31%);
}

.img-container .canvas {
    /* position: absolute; */
    width: 420px;
    height: 420px;
    margin: 40px auto 30px auto;
    background-color: white;
    box-shadow: 0px 12px 14px 2px rgb(0 0 0 / 31%);
}

#generate-main .right {
    flex-direction: column;
}

.input-wrap {
    width: 422px;
    height: 125px;
    background-image: url(../Assets/input.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrap input {
    border: none;
    background: none;
    font-size: 36px;
    text-align: center;
    transform: scale(1.3,1);
    -ms-transform: scale(1.3,1);
    -webkit-transform: scale(1.3,1);
}

.input-wrap input::placeholder {
    color: #d4d4ed;
    font-family: 'Times New Roman', Times, serif;

}

.input-wrap input:focus-visible {
    outline: none;
}

.btn-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

  
.info-container {
    width: 100%;
    max-width: 400px;
  }
  
  .info-container img {
    scale:0.5;
    animation-name: bounce;
    animation-duration : 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  
  }
  
  
  @keyframes bounce {
    
    from{
        margin-top:0%;
        margin-left: 0%;
    }
    30%{
        margin-top:0%;
        margin-left: 100%;
  
    }
  
    60%{
        margin-top:100%;
        margin-left: 0%;
  
    }
  
    80%
    {
        margin-top:100%;
        margin-left: 100%;
    }
  
    to{
        margin-top:0%;
        margin-left: 0%;
    }
  }

  #info {
    display: flex;
    flex-wrap: wrap;
  }

  .info-item {
    display: flex;
    flex-basis: calc(100% / 3);
    box-sizing: border-box;
    padding: 20px;
    text-transform: uppercase;
  }

  .info-wrapper {
    display: flex;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 0;
    padding: 30% 0;
  }

  .info-item img {
    max-width: 100px;
    max-height: 100px;
  }

  .info-item .text-container {
    width: 60%;

  }

  .info-line label {
    color: white;
  }