html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Assets/bg-main.jpg);
    background-size: cover;
  }
  
main{
    width: 100%;
    height:100%; 
}

.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    text-align: center;
    text-decoration: none;
}

.btn.btn-white {
    background-color: white;
}

.btn.btn-black {
    background-color: black;
    color: white;
}

#logo {
    max-width: 100%;
    max-height: 70%;
}
  
#sketch-container{
    width: 100%;
    height: 100%;
}

#home {
    width: 80px;
}

canvas {
    display: block;
}

#generate {
    display: flex;
}

#generate section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    /* position: relative; */
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(195, 169, 235, 0.8);
    box-shadow: 0px 9px 5px 3px rgb(0 0 0 / 24%);
}

.img-container .canvas {
    /* position: absolute; */
    width: 300px;
    height: 300px;
    margin: 40px auto;
    background-color: white;
    box-shadow: 0px 9px 5px 3px rgb(0 0 0 / 24%);
}

#generate .right {
    flex-direction: column;
}

.input-wrap {
    width: 300px;
    height: 80px;
    background-image: url(../Assets/input.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrap input {
    width: 50px;
    border: none;
    background: none;
    font-size: 24px;
    text-align: center;
}

.input-wrap input:focus-visible {
    outline: none;
}

.btn-row {
    display: flex;
    justify-content: space-around;
}

  
.info-container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .info-container img {
    scale:0.5;
    animation-name: bounce;
    animation-duration : 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  
  }
  
  
  @keyframes bounce {
    
    from{
        margin-top:0%;
        margin-left: 0%;
    }
    30%{
        margin-top:0%;
        margin-left: 100%;
  
    }
  
    60%{
        margin-top:100%;
        margin-left: 0%;
  
    }
  
    80%
    {
        margin-top:100%;
        margin-left: 100%;
    }
  
    to{
        margin-top:0%;
        margin-left: 0%;
    }
  }

  #info {
    display: flex;
    flex-wrap: wrap;
  }

  .info-item {
    display: flex;
    flex-basis: calc(100% / 3);
    box-sizing: border-box;
    padding: 20px;
    text-transform: uppercase;
  }

  .info-wrapper {
    display: flex;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 0;
    padding: 30% 0;
  }

  .info-item img {
    max-width: 100px;
    max-height: 100px;
  }

  .info-item .text-container {
    width: 60%;

  }

  .info-line label {
    color: white;
  }